body{
    margin:0;
    font-family:'Poppins', sans-serif;

    background-image:url("backgound.jpg");
    background-size:cover;
    background-position:center;
}

.title{
    font-family:'Great Vibes', cursive;
}

.text{
    font-size:16px;
}

.envelope{
    width:220px;
    display:block;
    margin:30px auto;
    cursor:pointer;
    transition:0.4s;
}

.envelope:hover{
    transform:scale(1.05);
}

.popup{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    background:#fff;
    padding:40px;          /* BIGGER INSIDE SPACE */
    border-radius:25px;

    width:90%;             /* Takes most of screen */
    max-width:500px;       /* Stops it being too huge */

    box-shadow:0 0 30px rgba(0,0,0,0.4);
}
}

.hidden{
    display:none;
}

.close{
    float:right;
    font-size:22px;
    cursor:pointer;
}

.frame{
    width:250px;
}

.mainPhoto{
    width:200px;
    margin-top:-200px;
}

.polaroid{
    width:90px;
    margin:5px;
}

button{
    padding:10px 18px;
    margin:8px;
    border:none;
    border-radius:20px;
    background:#ff6b81;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

.clickText{
    text-align:center;
    margin-top:10px;
}

.hearts{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    pointer-events:none;
    overflow:hidden;
}

.hearts span{
    position:absolute;
    top:-10%;
    font-size:20px;
    animation: fall linear infinite;
}

@keyframes fall{
    to{
        transform: translateY(110vh);
    }
}
